.header-container{
    position: relative;
}

.img-header-container{
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.header-body{
    position: absolute;
    bottom: 0;
    padding: 10%;
    background: linear-gradient(180deg, rgba(175,70,41,0) 0%, #141414 76%);
}

.movie-title{
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.button-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}

.boton-header{
text-align: center;
    width: 45%;
    height:35px;
    font-weight: 700;
    border-radius: 5px;
    font-size: 1rem;

}

.boton-reproducir{
    background-color: #ffffff;
}

.boton-lista{
    background-color: #565858;
    color: white;
}